html {margin:0;padding:0;border:0;}

body {color:black;background-color:lightgray;font-family:arial, sans-serif;font-size:12pt; margin: 0px !important;}

/***********************************************/
/* link styles                                 */
/***********************************************/
a:link {color:#041EDE;background-color:transparent;}
a:hover {color:#FF00FF;background-color:transparent;}
a:visited {color:#FE482A;background-color:transparent;}

/***********************************************/
/* division styles                             */
/***********************************************/
#banner-div {text-align:center;background-color: #b5b5b5; margin-top: 0px;}
#page-content-div {margin-left: 8px; margin-right: 8px;}
#clear-div {clear:both;}
#left-div {float:left;width:20%;}
#right-div {float:right;width:80%;}

/***********************************************/
/* paragraph styles                            */
/***********************************************/
.cent {text-align:center;}
.heads {font-family:arial,sans-serif;font-size:1.2em;text-align:left;}
.curr_page {color:red;font-weight:bolder;text-shadow:black;border:1px solid red;}
.result {color:inherit;font-weight:bold;text-shadow:black;}

/***********************************************/
/* horizontal line styles                      */
/***********************************************/
hr {width:100%;height:1px;}
.deepline {width:100%;height:2px;color:#000000;background-color:#000000;}


table, th, td{
    border-collapse: collapse;
    border: 1px solid;
    padding: 4px;
}

tr:nth-child(odd){
    background: #E0E0E0;
}

tr:nth-child(even){
    background: white;
}

tr:first-child{
    background: #C8C8C8;
}

.main-header {
    margin-top: 0px;
}




