{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <p>{{ page_text }}</p>
        <p>Select option</p>
        <p><a href="{{ readSMS }}">Read messages</a></p>
        <p><a href="{{ path_for('sendSMS') }}">Send message</a></p>
        <br />
    </div>
{% endblock %}
