<div>
    <label for="{{ name }}">{{ label }}</label>
    <select id="{{ name }}" name="{{ name }}">
        <option value="on">On</option>
        <option value="off">Off</option>
    </select>
</div>
